body {
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    width: 100%;
    background-image: url(./assets/desktop/image-hero-left.png), url(./assets/desktop/image-hero-right.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.banner {
    max-width: 540px;
    height: 304px;
    text-align: center;
}

.title {
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
}

.intro {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879D;
}

button {
    width: 193px;
    height: 58px;
    border-radius: 30px;
    cursor: pointer;
}

.word1 {
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: white;
}

.word2 {
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #8FE3F9;
}

.button1 {
    background-color: #4D96A9;
    border: none;
}

.button2 {
    background-color: #855FB1;
    border: none;
}

.button1:hover {
    background-color: #71C0D4;
}

.button2:hover {
    background-color: #A678D1;
}