* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.left-decor, .right-decor {
    width: auto;
    height: auto;
}

.banner {
    max-width: 540px;
    padding: 20px;
    background-color: white;
    text-align: center;
    justify-content: center;
}

.title {
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
}

.intro {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879D;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button1 {
    background-color: #4D96A9;
    border: none;
    width: 193px;
    height: 58px;
    border-radius: 30px;
    cursor: pointer;
}

.button2 {
    background-color: #855FB1;
    border: none;
    width: 139px;
    height: 58px;
    border-radius: 30px;
    cursor: pointer; 
}

.button3 {
    background-color: #855FB1;
    border: none;
    width: 193px;
    height: 58px;
    border-radius: 30px;
    cursor: pointer;
}

.word1 {
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: white;
}

.word2 {
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #8FE3F9;
}

.word3 {
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #D9B8FF;
}

.button1:hover {
    background-color: #71C0D4;
}

.button2:hover {
    background-color: #A678D1;
}

.button3:hover {
    background-color: #A678D1;
}

.divider {
    width: 56px;
    height: 140px;
    margin-top: 75px;
    margin-bottom: 30px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.line {
    width: 1px;
    height: 84px;
    background-color: rgba(135, 135, 157, 0.5);
}

.circle {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid rgba(135, 135, 157, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.feature-images {
    max-width: 1110px;
    height: 242px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 50px;
}

.feature-images img {
    width: 255px;
    height: 242px;
    border-radius: 10px;
}

.holder {
    width: 540px;
    height: 240px;
    text-align: center; 
}

.overline {
    font-weight: 900px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 4px; 
    color: #4D96A9;
}

h2 {
    font-weight: 900px;
    font-size: 40px;
    line-height: 44px;
}

.divider2 {
    width: 56px;
    height: 140px;
    margin-top: 75px;
    margin-bottom: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    z-index: 2; /* Ensure the divider is above other content */
}


p {
    font-weight: 500px;
    font-size: 18px;
    line-height: 26px;
    color: #87879D;
}

.footer-container {
    width: 100%;
    height: 308px;
    background-image: url(./assets/desktop/image-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    z-index: 1; /* Ensure the footer background image is behind other content */
}

.footer-sleeve {
    width: 100%;
    height: 308px;
    background-color: rgba(77, 150, 169, 0.75);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-title {
    width: 350px;
    height: 88px;
}

.footer-content {
    width: 350px;
    height: 78px;
}

.footer-m {
    color: white;
    font-weight: 500px;
    font-size: 18px;
    line-height: 26px;
}

.button-footer {
    width: 193px;
    height: 58px;
}

.footer1 {
    color: white;
}

/* Responsive Design for smaller screens */
/* TABLET */
@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; /* controls whether the items are allowed to move onto multiple lines. */
        width: 100%;
    }

    .left-decor, .right-decor {
        order: 1; /* Ensure decorations appear first */
        width: 50%;
    }

    .banner { 
        width: 457px;
        padding: 20px;
        order: 2; /* Ensure banner appears second */
        margin-top: 75px;
    }

    .title {
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    }

    .intro {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #87879D;
    }

    .feature-images {
        width: 689px;
        height: 156px;
        gap: 11px;
    }

    .feature-images img {
        width: 164px;
        height: 156px;
    }

    .holder {
        width: 573px;
    }

    .footer-container {
        height: 428px;
        width: 100%;
    }

    .footer-sleeve {
        height: 428px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .footer-title {
        width: 457px;
        height: 88px;
        flex-direction: column;
        text-align: center;
    }

    .footer-content {
        width: 573px;
        height: 52px;
        flex-direction: column;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

/* MOBILE */
@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; /* controls whether the items are allowed to move onto multiple lines. */
        width: 100%;
    }

    .left-decor, .right-decor {
        order: 1; /* Ensure decorations appear first */
        width: 50%;
    }

    .banner { 
        width: 100%;
        order: 2; /* Ensure banner appears second */
        margin-top: 75px;
    }

    .title {
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }

    .intro {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #87879D;
    }

    .button-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .feature-images {
        width: 327px;
        height: 310px;
        gap: 25px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .feature-images img {
        width: 151px;
        height: 143px;
    }

    .holder {
        width: 327px;
        height: 284px;
        margin-bottom: 75px;
    }

    .footer-container {
        height: 428px;
        width: 100%;
    }

    .footer-sleeve {
        height: 428px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .footer-title {
        width: 327px;
        height: 72px;
        flex-direction: column;
        text-align: center;
    }

    .footer-content {
        width: 327px;
        height: 78px;
        flex-direction: column;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}